.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

/* Flex container for the image and description */
.itemInfo {
  display: flex;
  align-items: center;
}

/* Styles for the product image */
.itemInfo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}

/* Styles for the description */
.itemInfo .description h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Styles for the quantity container */
.itemActions .quantity {
  display: flex;
  align-items: center;
}

/* Styles for the quantity buttons */
.itemActions .quantityBtn {
  padding: 0.25rem 0.5rem;
  background-color: #ddd;
  border-radius: 0.25rem;
  cursor: pointer;
}


.itemActions .removeBtn {
  margin-left: auto;
  background-color: #0c0b0b;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .cartItem {
    flex-direction: column;
  }

  .itemInfo img {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .itemActions .removeBtn {
    margin-top: 1rem;
  }
}


  